* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #6b5f5f;
}

.carousel {
  position: relative;
  width: 50%;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* 100% * cantidad de slides */
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  height: 50%;
  width: 100%;
  display: block;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
}

.control-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.control-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.img{
  width: 50%;
  margin: 50px auto;
  text-align: center;
  height: auto;
    display: flex;
  
    
  }

  /* Bootstrap carousel image size */
.carousel-item img {
  max-height: 50px;
  width: auto;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

 .beni{
  width: 50%;
  margin: 50px auto;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #bd1212;
  border-radius: 100px;
  box-shadow: 0 50px 100px rgb(255, 255, 255);
  transition: transform 0.3s ease;  

}
.myButton {
	box-shadow: 3px 4px 0px 0px #9c9898;
	background:linear-gradient(to bottom, #5c5554 5%, #685d5d 100%);
	background-color:#000000;
	border-radius:18px;
	border:1px solid #d8d6d6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:-1px 0px 0px #29201f;
}
.myButton:hover {
	background:linear-gradient(to bottom, #cecece 5%, #5f5d5d 100%);
	background-color:#1f1a1a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.center-text {
  text-align: center;
}

.grupo-fotos {
  background-color: #fdfdfd;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  gap: 20px;
}

.logo-navbar {
  height: 40px;
  width: auto;
  margin-right: 12px;
  vertical-align: middle;
}

footer.fixed-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1030;
}

